# --- Ignore Data & Software ---
data/
logs/
software/
raw_olink_ip/
results/
solar_chunks/

# --- Ignore R/Project Artifacts ---
*.RData
.Rhistory
.Rproj.user/
*.Rproj
.Ruserdata
.DS_Store

# --- Enable scripts ---
!scripts/**/*.R
!scripts/**/*.qmd
!scripts/**/*.sh
!scripts/**/*.sub
!README.md
!LICENSE
