# --- Ignore Data & Software ---
data/
logs/
software/
lmer_testing/
raw_olink_ip/
results/protein_protein_solar/  
results/solar_analysis/
solar_chunks/

# --- Ignore R/Project Artifacts ---
.RData
.Rhistory
.Rproj.user/
*.Rproj
.Ruserdata

# --- Enable scripts ---
!scripts/**/*.R
!scripts/**/*.qmd
!scripts/**/*.sh
!scripts/**/*.sub
!README.md
!LICENSE
